
/*
    TODO:
    - basic rules
*/


@import "normalize.css";
@import "museo/museo.css";

main {
    max-width:  700px;
    margin: auto;
    font-family:    "museo300", sans-serif;
}

header {
    margin: 2em 0 1em 0;
}

header h1 {
    font-weight:    normal;
    font-size:  2.5em;
    padding:    2em 0 2em 0;
    margin: 0.2em 0;
    border-bottom:  1px solid red;
    border-top:  1px solid red;
}

header .meta {
    text-align: right;
}

a {
    color:  inherit;
    text-decoration: none;
    border-bottom:  1px dotted gray;
}

main > section {
    padding:    3em 0 0 0;
    line-height:    160%;
}

h2, h3, h4, h5, h6 {
    font-weight:    normal;
}
