@font-face {
  font-family: 'Museo 300';
  src: url('Museo300-Regular.eot'); /* IE9 Compat Modes */
  src: url('Museo300-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Museo300-Regular.woff') format('woff'), /* Modern Browsers */
       url('Museo300-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Museo300-Regular.svg#d8b40b84b4bd6e4b75ac0cfe1e5ed91f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

